<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />  
    <link rel="stylesheet" type="text/css" href="../css/branding-elements.css" />
    <link rel="stylesheet" type="text/css" href="3-column-cards.css" />

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      <div class="branding-card__container container center-align padding-top-content padding-bottom-content">
        <h1>3 Column Cards</h1>

        <ul class="heartland-brand branding-card__list row">
          <li class="col-xs-12 col-sm-4  branding-card__list-item">
            <a>

              <!-- Paste section into Multiple Column CTA -->
              <div class="branding-card">
                <div><img src="#" alt="logo-thumbail" /></div>
                <div><span>.eps</span></div>
                <div>
                  <svg 
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="20px" height="28px">
                    <image  x="0px" y="0px" width="20px" height="28px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAQAAADL01frAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhBxkPESDtFuJnAAABEElEQVQ4y9XSTSuEURjG8d/MPB5ZKFLKwkJJWQlh43NYKivkpXwGCywtFIl8BhsrlnwFsrESFjYW3mbmtpgpY16esVKuU3ed+/y7r6tzTkG9us0Zc+ddGw25dGW4HcakEGbq2/kGMGpqJlhUEortwVxNzQRb6L+AHebt6G163mPbgrSyGfAsnEjAhJKy6eqYQ+HFYAVMbQrhWIJxIUyh4EAIWzq/LZaEcITUqw9d2BfCan2aRSGs63PvSb9lIaw0C16ZeuHeo3MhrLW6gwpaVGxu+jPApxBK2RisCGGjvp00gHt6FOz+9sX+QDmzRpR9NH7+qkKHxC2n4hfrLHHrQd5bxsQuZTc540blMq1T4foL9gln6We9hwgAAAAASUVORK5CYII=" />
                  </svg>
                  <span>Download</span>
                </div>
              </div>
            </a>
            <div class="branding-card__content">For professional use with design software. Allows scaling with no quality loss.</div> 
          </li>
          <li class="col-xs-12 col-sm-4 branding-card__list-item">
            <a>
              <div class="branding-card">
                <div><img src="#" alt="logo-thumbail" /></div>
                <div><span>.jpg</span></div>
                <div>
                  <svg 
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="20px" height="28px">
                    <image  x="0px" y="0px" width="20px" height="28px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAQAAADL01frAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhBxkPESDtFuJnAAABEElEQVQ4y9XSTSuEURjG8d/MPB5ZKFLKwkJJWQlh43NYKivkpXwGCywtFIl8BhsrlnwFsrESFjYW3mbmtpgpY16esVKuU3ed+/y7r6tzTkG9us0Zc+ddGw25dGW4HcakEGbq2/kGMGpqJlhUEortwVxNzQRb6L+AHebt6G163mPbgrSyGfAsnEjAhJKy6eqYQ+HFYAVMbQrhWIJxIUyh4EAIWzq/LZaEcITUqw9d2BfCan2aRSGs63PvSb9lIaw0C16ZeuHeo3MhrLW6gwpaVGxu+jPApxBK2RisCGGjvp00gHt6FOz+9sX+QDmzRpR9NH7+qkKHxC2n4hfrLHHrQd5bxsQuZTc540blMq1T4foL9gln6We9hwgAAAAASUVORK5CYII=" />
                  </svg>                  
                  <span>Download</span>
                </div>
              </div>
            </a>
            <div class="branding-card__content">For professional use with design software. Allows scaling with no quality loss.</div> 
          </li>
          <li class="col-xs-12 col-sm-4 branding-card__list-item">
            <a>
              <div class="branding-card">
                <div><img src="#" alt="logo-thumbail" /></div>
                <div><span>.png</span></div>
                <div>
                  <svg 
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="20px" height="28px">
                    <image  x="0px" y="0px" width="20px" height="28px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAQAAADL01frAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhBxkPESDtFuJnAAABEElEQVQ4y9XSTSuEURjG8d/MPB5ZKFLKwkJJWQlh43NYKivkpXwGCywtFIl8BhsrlnwFsrESFjYW3mbmtpgpY16esVKuU3ed+/y7r6tzTkG9us0Zc+ddGw25dGW4HcakEGbq2/kGMGpqJlhUEortwVxNzQRb6L+AHebt6G163mPbgrSyGfAsnEjAhJKy6eqYQ+HFYAVMbQrhWIJxIUyh4EAIWzq/LZaEcITUqw9d2BfCan2aRSGs63PvSb9lIaw0C16ZeuHeo3MhrLW6gwpaVGxu+jPApxBK2RisCGGjvp00gHt6FOz+9sX+QDmzRpR9NH7+qkKHxC2n4hfrLHHrQd5bxsQuZTc540blMq1T4foL9gln6We9hwgAAAAASUVORK5CYII=" />
                  </svg>                  
                  <span>Download</span>
                </div>
              </div>
            </a>
            <div class="branding-card__content">For professional use with design software. Allows scaling with no quality loss.</div> 
          </li>
        </ul>        

      </div>
    </div>
  </body>    
</html>