<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />  
    <link rel="stylesheet" type="text/css" href="../css/branding-elements.css" />
    <link rel="stylesheet" type="text/css" href="3-column-cards.css" />

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet">
  </head>

  <body>
    <div class="three-column-cards container-fluid">
      <div class="three-column-cards__container container center-align padding-top-content padding-bottom-content">
        <h1>3 Column Cards</h1>

        <ul class="three-column-cards__list heartland-brand row">
          <li class="col-xs-12 col-sm-4  three-column-cards__list-item">
            <a>
              <div class="three-column-cards__cta">
                <div><img src="#" alt="logo-thumbail" /></div>
                <div><span>.eps</span></div>
                <div>
                  <img src="../images/download-icon@2x.jpg" alt="" height="25" />
                  <span>Download</span>
                </div>
              </div>
            </a>
            <div class="three-column-cards__content">For professional use with design software. Allows scaling with no quality loss.</div> 
          </li>
          <li class="col-xs-12 col-sm-4 three-column-cards__list-item">
            <a>
              <div class="three-column-cards__cta">
                <div><img src="#" alt="logo-thumbail" /></div>
                <div><span>.jpg</span></div>
                <div>
                  <img src="../images/download-icon@2x.jpg" alt="" height="25" />
                  <span>Download</span>
                </div>
              </div>
            </a>
            <div class="three-column-cards__content">For professional use with design software. Allows scaling with no quality loss.</div> 
          </li>
          <li class="col-xs-12 col-sm-4 three-column-cards__list-item">
            <a>
              <div class="three-column-cards__cta">
                <div><img src="#" alt="logo-thumbail" /></div>
                <div><span>.png</span></div>
                <div>
                  <img src="../images/download-icon@2x.jpg" alt="" height="25" />
                  <span>Download</span>
                </div>
              </div>
            </a>
            <div class="three-column-cards__content">For professional use with design software. Allows scaling with no quality loss.</div> 
          </li>
        </ul>        

      </div>
    </div>
  </body>    
</html>